{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<section>
  <article class="container">
    <h2>About {{ data.config['app_name'] }}</h2>
    <p>
      This is an application developped by {{ data.config['app_author'] }} for the first coursework
      in the module with the barbaric name of SET09103. This module is refered to as
      "Advanced Web Technologies".
    </p>
  </article>
  <article class="container">
    fwdxgfv
  </article>
</section>
{% endblock %}
