{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<section>
  <article class="container">
    <h2>About {{ data.config['app_name'] }}</h2>
    <p>
      This is an application developped by {{ data.config['app_author'] }} for the first coursework
      in the module with the barbaric name of SET09103. This module is refered to as
      "Advanced Web Technologies".
    </p>
  </article>
  <article class="container">
    <h2>Code</h2>
    You can find all the code and documentation for this project on the git repository : <a href="{{data.code.repo_url}}">{{data.code.repo_name}}</a>
  </article>
  <article class="container">
    <h2>External sources</h2>
    This application uses multiple external sources :
    {{ data.sources|safe }}
  </article>
</section>
{% endblock %}
