{% extends 'base.html' %}

{% block title %}Characters{% endblock %}

{% block content %}
<section>
  <article class="container">
    <h2>List of available characters</h2>
    <form class="row" action="?" method="GET">
      <div class="form-group col-md-3">
        <div class="form-control">
          {% if 'univ' in data.search %}
            <i class="fa fa-globe"></i>
            <b>{{ data.search.univ }}</b>
          {% else %}
            <i>No selected universe</i>
          {% endif %}
        </div>
      </div>
      <div class="form-group col-md-3">
        <div class="form-control">
          {% if 'tags' in data.search %}
            {% for tag in data.search.tags %}
              <span class="item-tag">
                <i class="fa fa-tag"></i>
                <b>{{ tag }}</b>
              </span>
            {% endfor %}
          {% else %}
            <i>No selected tags</i>
          {% endif %}
        </div>
      </div>
      <div class="form-group col-md-4">
        <input type="text" class="form-control" placeholder="Search text ..." name="text"
          {% if 'text' in data.search %}
            value="{{ data.search.text }}"
          {% endif %}
        />
      </div>
      <div class="col-md-2 text-right btn-group">
        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Search</button>
        <a href="?" class="btn btn-default"><i class="fa fa-times"></i></a>
      </div>
    </form>
    <hr/>
  </article>
  <article class="container">
    <div class="item-list">
      {% for char in data.list %}
        {{ mCommon.charCard(char, data) }}
      {% endfor %}
    </div>
    {{ mCommon.paginationNav(data.pages) }}
  </article>
</section>
{% endblock %}
