{% extends 'base.html' %}

{% block title %}Character: {{data.char.name}}{% endblock %}

{% block content %}
<section>
  <header class="details-head">
    <img class="details-backpic" src="{{data.char.pic}}" alt="Character image" />
    <h2 class="details-title"><small>#{{data.char.id}}</small> Character: {{data.char.name}}</h2>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <article>
          <h3>Details</h3>
          <p class="details-shortdesc"><i>{{ data.char.short_desc|safe }}</i></p>
          <p class="details-fulldesc">{{ data.char.full_desc|safe }}</p>
        </article>
        <article>
          <h3>Tags</h3>
          <ul class="item-tags">
            {% for tag in data.char.tags %}
              <li class="item-tag"><i class="fa fa-tag"></i> <a href="/characters?tags={{tag}}" class="text">{{ tag }}</a></li>
            {% endfor %}
          </ul>
        </article>
        <div class="row">
          <article class="col-md-6">
            <h3>Allies</h3>
            <div class="item-link-list">
              {% for ally in data.char.allies %}
                {{ mCommon.charLink(ally, data.config) }}
              {% endfor %}
            </div>
          </article>
          <article class="col-md-6">
            <h3>Enemies</h3>
            <ul class="details-enemies">
            <div class="item-link-list">
              {% for enemy in data.char.enemies %}
                {{ mCommon.charLink(enemy, data.config) }}
              {% endfor %}
            </div>
          </article>
        </div>
      </div>
      <aside class="col-md-3">
        <h3>Universe</h3>
        <div  class="item-link-list">
          {{ mCommon.univLink(data.char.universe, data.config) }}
        </div>
      </aside>
    </div>
  </div>
</section>
{% endblock %}
