{% macro navItem(item, active) %}
  {% if item.path == active %}
    <li class="active"><a href="{{ active }}">{{ item.name}} <span class="sr-only">(current)</span></a></li>
  {% else %}
    <li><a href="{{ item.path }}">{{ item.name}}</a></li>
  {% endif %}
{% endmacro %}

{% macro univCard(univ, data) %}
    <div class="item-card col-md-12">
      <div class="row">
        <div class="col-md-4">
          {% if univ.pic %}
            <img class="item-pic" src="{{ univ.pic }}" alt="Universe picture" />
          {% else %}
            <img class="item-pic" src="{{ url_for('static', filename=data.config.graphic.default_universe_pic) }}" alt="Universe picture" />
          {% endif %}
          <small class="item-id">#{{ univ.id }}</small>
        </div>
        <div class="col-md-8">
          <h3 class="item-name">{{ univ.name }}</h3>
          <p>{{ univ.short_desc|safe }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <ul class="item-tags">
            {% for tag in univ.tags %}
              <li class="item-tag"><i class="fa fa-tag"></i> <a href="/universes{{data.links.prefix_tags}}{{tag}}" class="text">{{ tag }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-md-4 text-right">
          <a href="/universes/{{ univ.id }}" class="btn btn-primary">Details <i class="fa fa-caret-right"></i></a>
        </div>
      </div>
    </div>
{% endmacro %}

{% macro univLink(univ, config) %}
    <a class="item-link" href="/universes/{{univ.id}}">
      <div class="col-xs-4">
        {% if univ.pic %}
          <img class="item-pic" src="{{ univ.pic }}" alt="Universe picture" />
        {% else %}
          <img class="item-pic" src="{{ url_for('static', filename=config.graphic.default_universe_pic) }}" alt="Universe picture" />
        {% endif %}
      </div>
      <div class="col-xs-8">
        <small class="item-id">#{{ univ.id }}</small>
        <h4>{{ univ.name }}</h4>
      </div>
      <i class="fa fa-caret-right"></i>
    </a>
{% endmacro %}

{% macro charCard(char, data) %}
    <div class="item-card col-md-12">
      <div class="row">
        <div class="col-md-4">
          {% if char.pic %}
            <img class="item-pic" src="{{ char.pic }}" alt="Character picture" />
          {% else %}
            <img class="item-pic" src="{{ url_for('static', filename=data.config.graphic.default_character_pic) }}" alt="Character picture" />
          {% endif %}
          <small class="item-id">#{{ char.id }}</small>
        </div>
        <div class="col-md-8">
          <h3 class="item-name">
            {{ char.name }}
            <small><a href="/universes/{{char.universe.id}}">{{ char.universe.name }}</a></small>
          </h3>
          <p>{{ char.short_desc|safe }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <ul class="item-tags">
            <li class="item-tag"><i class="fa fa-globe"></i> <a href="/universes/{{char.universe.id}}/characters{{data.links.suffix_univ}}" class="text">{{ char.universe.name }}</a></li>
            {% for tag in char.tags %}
              <li class="item-tag"><i class="fa fa-tag"></i> <a href="{{data.links.prefix_tags}}{{tag}}" class="text">{{ tag }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-md-4 text-right">
          <a href="/universes/{{char.universe.id}}/characters/{{ char.id }}" class="btn btn-primary">Details <i class="fa fa-caret-right"></i></a>
        </div>
      </div>
    </div>
{% endmacro %}

{% macro charLink(char, config) %}
    <a class="item-link" href="/universes/{{char.universe.id}}/characters/{{char.id}}">
      <div class="col-xs-4">
        {% if char.pic %}
        <img class="item-pic" src="{{ char.pic }}" alt="Character picture" />
        {% else %}
        <img class="item-pic" src="{{ url_for('static', filename=config.graphic.default_character_pic) }}" alt="Character picture" />
        {% endif %}
      </div>
      <div class="col-xs-8">
        <small class="item-id">#{{ char.id }}</small>
        <h4>{{ char.name }}</h4>
      </div>
      <i class="fa fa-caret-right"></i>
    </a>
{% endmacro %}

{% macro paginationNav(pages) %}
<nav class="pagination-nav">
  <ul class="pagination">
    {% if 'prev' in pages %}
      <li>
        <a href="{{pages.prefix}}{{pages.prev}}" aria-label="Previous" >
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
    {% else %}
      <li class="disabled">
        <a href="#" aria-label="Previous" >
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
    {% endif %}

    {% for p in pages.list %}
      {% if p == pages.cur %}
        <li class="active"><a href="#">{{p}} <span class="sr-only">(current)</span></a></li>
      {% else %}
        <li><a href="{{pages.prefix}}{{p}}">{{p}}</a></li>
      {% endif %}
    {% endfor %}

    {% if 'next' in pages %}
      <li>
        <a href="{{pages.prefix}}{{pages.next}}" aria-label="Next" >
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    {% else %}
      <li class="disabled">
        <a href="#" aria-label="Next" >
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    {% endif %}
  </ul>
</nav>
{% endmacro %}
