{% extends 'base.html' %}

{% block title %}Character: {{data.char.name}}{% endblock %}

{% block content %}
<section>
  <header class="details-head">
    <img class="details-backpic" src="{{data.char.pic}}" alt="Character image" />
    <h2 class="details-title"><small>#{{data.char.id}}</small> Character: {{data.char.name}}</h2>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <article>
          <h3>Details</h3>
          <p class="details-shortdesc"><i>{{ data.char.short_desc|safe }}</i></p>
          <p class="details-fulldesc">{{ data.char.full_desc|safe }}</p>
        </article>
        <article>
          <h3>Tags</h3>
          <ul class="item-tags">
            {% for tag in data.char.tags %}
              <li class="item-tag"><i class="fa fa-tag"></i> <a href="/characters?tags={{tag}}" class="text">{{ tag }}</a></li>
            {% endfor %}
          </ul>
        </article>
        <div class="row">
          <article class="col-md-6">
            <h3>Allies</h3>
            <ul class="details-allies">
              {% for ally in data.char.allies %}
                <li class="details-allies-item"><i class="fa fa-user"></i> <a href="/characters/{{ally.id}}" class="text">{{ ally.name }}</a></li>
              {% endfor %}
            </ul>
          </article>
          <article class="col-md-6">
            <h3>Enemies</h3>
            <ul class="details-enemies">
              {% for enemy in data.char.enemies %}
                <li class="details-enemies-item"><i class="fa fa-user"></i> <a href="/characters/{{enemy.id}}" class="text">{{ enemy.name }}</a></li>
              {% endfor %}
            </ul>
          </article>
        </div>
      </div>
      <aside class="col-md-3">
        <h3>Universe</h3>
        <a href="/universes/{{data.char.universe.id}}"><b>{{data.char.universe.name}}</b> details ...</a>
      </aside>
    </div>
  </div>
</section>
{% endblock %}
