<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Hello</title>
    <link rel="stylesheet" href="/static/css/index.css"/>
  </head>
  <body>
    <h1>Hello Napier !</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <aside class="notifs">
        <ul>
          {% for flash in messages %}
            <li class="notif notif-info">{{ flash }}</li>
          {% endfor %}
        </ul>
      </aside>
    {% endif %}
    {% endwith %}

    <section>
      <p>some content</p>
    </section>
  </body>
</html>
